<div class="row">
  <div class="col-md-10 col-lg-8 mx-auto">
    <% content_for :title, t('.title') %>
    <h1><%= t('.title') %></h1>
    <%= form_with url: password_resets_path do |f| %>
      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="text-center"> <!-- 中央揃え用のクラスを追加 -->
        <%= f.submit t(".form"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
