<!-- 表示されているコメントのIDが入るように調整してください -->
<tr id="comment-<%= comment.id %>">
  <td style="width: 60px">
    <%= image_tag "sample", class: "rounded-circle", width: 50, height: 50 %>
  </td>
  <td>
    <h3 class="small"><%= comment.user.decorate.full_name %></h3>
    <%= simple_format comment.body %>
  </td>
  <td class="action">
    <ul class="list-inline justify-content-center" style="float: right;">
      <% if current_user.own?(comment) %>
        <li class="list-inline-item">
          <%= link_to("#", class: 'edit-comment-link') do %>
            <i class='bi bi-pencil-fill'></i>
          <% end %>
        </li>
        <li class="list-inline-item">                  
          <%= link_to("#", class: 'delete-comment-link') do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </td>
</tr>

        
