<%= search_form_for @q, url: admin_boards_path do |f| %>
  <div class="row">
    <div class="d-flex align-items-center justify-content-center">
      <div class="d-inline me-3">
        <%= f.search_field :title_or_body_cont, class: 'form-control', placeholder: t('defaults.search_word') %>
      </div>
       <!-- 作成日の範囲指定 -->
      <div class="d-inline me-3">
        <%= f.date_field :created_at_gteq, class: 'form-control', placeholder: t('defaults.start_date') %>
      </div>
      <span>~</span>
      <div class="d-inline me-3">
        <%= f.date_field :created_at_lteq, class: 'form-control', placeholder: t('defaults.end_date') %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
