<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>掲示板作成</h1>
      <!-- ここからform_withを使う形に修正してください -->
      <%= form_with model: @board, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <form class="new_board">
        <div class="mb-3">
          <!-- form.htmlタグ名 :カラム名 -->
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control"%>
        </div>
        <div class="mb-3">
          <%= f.label :board_image %>
          <%= f.file_field :board_image, class: "form-control", accept: 'image/*' %>
          <!-- アップロードに失敗した際もファイルが消えないようにするため -->
          <%= f.hidden_field :board_image_cache %>
        </div> 
          <%= f.submit "登録", class: "btn btn-primary"%>
      </form>
      <% end %>
      <!-- ここまでform_withを使う形に修正してください -->
    </div>
  </div>
</div>